/******************* Importing google fonts *******************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}

/******************* Remove Scroll-bar from number input tag *******************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background: url("./images/watch.webp");
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50px;
  top: 50px;
}

.logo {
  width: 100%;
  height: 100%;
}

.heading {
  color: white;
  font-family: "Pacifico";
  font-size: 90px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/******************* Main Stop Watch *******************/
.stop-watch-container {
  background: linear-gradient(
    rgba(88, 72, 72, 0.72) 0%,
    rgba(62, 51, 51, 0.45) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 7px;
}

.stop-watch-screen {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: white;
}

.stop-watch-digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 35px;
  font-family: "Poppins", "sans-serif";
}

.stop-watch-colon {
  font-size: 50px;
  padding-top: 28px;
}

.stop-watch-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 45px 0 0 20px;
}

.stop-watch-display {
  background-color: transparent;
  outline: none;
  border: none;
  width: 120px;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 0 30px;
  color: white;
}

.stop-watch-controls {
  display: flex;
  gap: 40px;
}

.stop-watch-button {
  width: 60px;
  height: 60px;
  background: white;
  border: none;
  border-radius: 5px;
}

.stop-watch-direction-button {
  width: 30px;
  height: 30px;
  background: rgb(119, 115, 115);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#up {
  background: white;
}

/******************* Sub Stop Watch *******************/
.sub-stop-watch-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.sub-stop-watch {
  position: relative;
  background: linear-gradient(
    rgba(88, 72, 72, 0.72) 0%,
    rgba(62, 51, 51, 0.45) 100%
  );
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.sub-stop-watch-screen {
  display: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding-bottom: 20px;
  color: white;
}

.sub-stop-watch-digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.sub-stop-watch-colon {
  font-size: 30px;
  padding-top: 30px;
}

.sub-stop-watch-display {
  background-color: transparent;
  outline: none;
  border: none;
  width: 40px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 0 10px;
  color: white;
}

.sub-stop-watch-controls {
  display: none;
  justify-content: center;
  gap: 20px;
}

.sub-stop-watch-button {
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 5px;
}

#start {
  background-image: url("./images/play.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#pause {
  background-image: url("./images/stop.svg");
  background-position: center;
  background-size: cover;
  cursor: not-allowed;
}

#reset {
  background-image: url("./images/reset.svg");
  background-position: center;
  background-size: cover;
  cursor: not-allowed;
}

#add {
  background-image: url("./images/add.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#up {
  background-image: url("./images/arrow.svg");
  background-position: center;
  background-size: cover;
}

#down {
  background-image: url("./images/arrow.svg");
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}

#circle {
  height: 150px;
  width: 150px;
  background-image: url("./images/circle.svg");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#close {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  background-image: url("./images/close.svg");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#sub-start {
  background-image: url("./images/play.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#sub-reset {
  background-image: url("./images/reset.svg");
  background-position: center;
  background-size: cover;
  cursor: not-allowed;
}
